.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(39, 40, 39);
    /*-fx-background-image: url("test3.jpg");*/
}

.custom-label {
    -fx-text-fill: white;
    -fx-border-color: white;
}

.custom-button {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}